.q{
    background-color: lightgray;
}
.m{
    margin-left: 900px;
    margin-top: -50px;
}
.a{
    margin-left: -25px;
}
.v{
    margin-left: 15px;
    width: 1110px;
}
.k{
    width: 20px;
}
.b{
    margin-left: 585px;
    margin-top: -147px;
}